# Configurar el comportamiento de los finales de línea
* text=auto

# Forzar finales de línea específicos para ciertos tipos de archivo
*.py text eol=lf
*.txt text eol=lf
*.md text eol=lf

# Archivos binarios que no deben ser modificados
*.png binary
*.jpg binary
*.pdf binary
